.button {
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    
    &:hover {
        background-color: #ccc;
    }
}